section#about.section.section-speak(data-track="view", data-track-category="Section", data-track-label="#{labels.sections[0].label}")

  .wrapper.text-center
    h1.section-title
      span #{labels.sections[0].label}

    .section-text
      p #{about.longDescription}
      p
        a.btn-default(href="#{about.register.link}", target="_blank") #{about.register.message}
